<div class="container">
  <%= image_tag 'logo_transparent.png', style: 'width: 500px' %>
  <h1>The PV count goes up using <a href="https://github.com/sampokuokkanen/belated">Belated!</a></h1>
  <p>PV count: <%= @count %></p>
</div>
